/* CSS declarations go here */

ul {
    margin: 0 auto;
    text-align: center;
}

li {
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    cursor: pointer;

    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    background: orange;
    border: 1px solid black;
    font-size: .5em;
    color: white;
}

li:hover {
    background: greenyellow;

}